<div class="pages-hero" style="background-image:url('{{asset('front-office/images/team.jpg')}}');">
    <div class="container">
        <div class="pages-title">
            <h1 style="color: #d6e0e3;">Kontaktformular</h1>
            {{-- <p>A new generation of cleaning and restoration concepts.</p> --}}
        </div>
    </div>
</div>
