<div class="pages-hero" style="background-image:url('{{asset('front-office/images/error.jpg')}}');">
    <div class="container">
        <div class="pages-title">
            <h1 style="color: #d6e0e3;">Datenschutzerklärung</h1>
            <p>Eine neue Generation von Reinigungs- und Restaurierungskonzepten</p>
        </div>
    </div>
</div>
