<div class="pages-hero" style="background-image:url('{{asset('front-office/images/about-bg.jpg')}}');">
    <div class="container">
        <div class="pages-title">
            <h1 style="color: #033B4A;">Über Uns</h1>
            <p class="text-bold">
            Clean-Buildings ist das moderne Reinigungsunternehmen mit Fokus auf Innovation,
Nachhaltigkeit und individuelle Kundenzufriedenheit. Unsere umweltfreundlichen Methoden
und moderne Technologie sichern höchste Sauberkeitsstandards bei minimalen
Umweltauswirkungen. Transparente Kommunikation und effiziente Prozesse prägen unsere
moderne Herangehensweise. Entdecken Sie, wie wir zeitgemäße Räume schaffen –
kontaktieren Sie uns für fortschrittliche Lösungen.
            </p>
        </div>
    </div>
</div>
