<!--SLIDER START-->
<div class="home-slider">
    <!-- partial:index.partial.html -->
    <div class="hero-slider " >
        <div class="carousel-cell" style="background-image:url('{{asset('front-office/images/home1.jpg')}}')">
            <div class="overlay"></div>
            <div class="container slider-caption">
                <h5 class="subtitle">Ihre professionelle Gebäudereinigung in Essen</h5>
                <h2 class="title">Willkommen bei Clean Buildings</h2>
                <div class="slider-btn">
                    <a href="" class="btn-clean btn-outline-orange btn-lg">Angebot
anfordern</a>
                    <!-- <div class="btn-popup">
                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=-_tvJtUHnmU">
                        <div class="pulse"><i class="fas fa-play"></i></div>
                    </a>
                </div> -->
                </div>
            </div>
        </div>
        {# {{-- <div class="carousel-cell" style="background-image:url('{{asset('front-office/images/home2.jpg')}}');">
            <div class="overlay"></div>
            <div class="container slider-caption">
                <h5 class="subtitle">We have a profiessional team</h5>
                <h2 class="title">Vertrauen in Brillanz <br/> Clean Buildings – Ihre professionelle Lösung für makellose Sauberkeit</h2>

                <div class="slider-btn">
                    <a href="" class="btn-washla btn-outline-orange btn-lg">Angebot
anfordern</a>
                    <!-- <div class="btn-popup">
                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=-_tvJtUHnmU">
                        <div class="pulse"><i class="fas fa-play"></i></div>
                    </a>
                </div> -->
                </div>
            </div>
        </div> --}}
        {{-- <div class="carousel-cell" style="background-image:url('{{asset('front-office/images/home3.jpg')}}');">
            <div class="overlay"></div>
            <div class="container slider-caption">
                <h5 class="subtitle">Renew your look</h5>
                <h2 class="title">A tradition of <br/>quality cleaning</h2>
                <div class="slider-btn">
                    <a href="" class="btn-washla btn-outline-orange btn-lg">Angebot
anfordern</a>
                    <!-- <div class="btn-popup">
                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=-_tvJtUHnmU">
                        <div class="pulse"><i class="fas fa-play"></i></div>
                    </a>
                </div> -->
                </div>
            </div>
        </div> --}} #}
    </div>
    <!-- partial -->
</div>
<!--SLIDER END-->
