<div class="pages-hero" style="background-image:url('{{asset('front-office/images/about.jpg')}}');">
    <div class="container">
        <div class="pages-title">
            <h1 style="color: #d6e0e3;">Impressum</h1>
            <p>Impressum und Rechtliche Hinweise - Gebäudereinigung!</p>
        </div>
    </div>
</div>
